<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiBeryy</title>
</head>
<body>

    <div class="heading">
        <h1>Video</h1>
    </div>

    <div class="container">

        <video controls muted autoplay heigth="1024" width="576">
            
            <source src="../static/file_example_WEBM_1920_3_7MB.webm" type="video/webm">
            
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>
</body>
</html>